.dashboard-page {
  .dashboard {
    padding: 32px 48px;
    background-color: var(--color-white);
    color: var(--color-text);
    margin-top: 60px;
    border-radius: var(--border-radius);
    .top {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 27px;
      .left {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .image-name {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
      .right {
      }
    }
  }
}
